.adminCenterCart {
  display: flex;
  gap: 90px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .adminCenterCart {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .adminCenterCart {
    gap: 20px;
  }
}
