.adminSkeletButtonFooter {
  width: 110px;
  height: 29px;
}

.adminSkeletButtonFooterOptions,
.adminSkeletButtonFooterBlue,
.adminSkeletButtonFooterGray,
.adminSkeletButtonFooterRed {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-family: Helvetica;
  font-size: 11.5px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.adminSkeletButtonFooterBlue {
  background-color: rgba(0, 123, 255, 1);
  border: 0.5px solid rgba(0, 123, 255, 1);
}

.adminSkeletButtonFooterGray {
  background-color: rgba(233, 236, 239, 1);
  border: 0.5px solid rgba(233, 236, 239, 1);
  color: rgba(61, 81, 112, 1);
}

.adminSkeletButtonFooterRed {
  background-color: rgba(203, 54, 86, 1);
  border: 0.5px solid rgba(203, 54, 86, 1);
}
