.adminOrder {
  background-color: #ebe9e9;
  display: flex;
}
.adminContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminContentError {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .adminOrder {
    display: inline;
  }
  .adminContent,
  .adminContentError {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .adminOrder {
    width: 1023px;
  }
  .adminConten,
  .adminContentError {
    width: 872px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .adminOrder {
    width: 1440px;
  }
  .adminContent,
  .adminContentError {
    width: 1237px;
  }
}
